.why-choose-area {
  background: #fff;
  margin-top: 5rem;
}

.our-team {
  padding: 1.2rem 0.75rem;
  background: #fff;
  border-radius: 1rem;
  text-align: center;
  border: 3px solid #015351;
  /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 10px 0px,
    rgba(0, 0, 0, 0.5) 0px 2px 25px 0px; */
}
.our-team .pic {
  display: inline-block;
  width: 100%;
  height: 100%;
  background: #fff;
  padding: 0.75rem;
  margin-bottom: 1.5rem;
  transition: all 0.5s ease 0s;
}
.our-team:hover .pic {
  background: #015351;
  border-radius: 50%;
}
.pic img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.our-team .title {
  display: block;
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
  margin: 0 0 7px 0;
}
.our-team .post {
  display: block;
  font-size: 1rem;
  color: black;
  margin-bottom: 1rem;
}
.our-team .social {
  padding: 0;
  margin: 0;
  list-style: none;
}
.our-team .social li {
  display: inline-block;
  margin-right: 5px;
}
.our-team .social li a {
  display: block;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  border-radius: 50%;
  font-size: 1rem;
  color: #015351;
  border: 1px solid #Fd7d00;
  transition: all 0.5s ease 0s;
}
.our-team:hover .social li a {
  background: #Fd7d00;
  color: #015351;
}

.social li a:hover {
  background-color: #025784 !important;
  border: none;
  text-decoration: none;
}

@media only screen and (max-width: 992px) {
  .our-team {
    margin-bottom: 2rem;
  }
}


/*================================================
Why Choose Us Area CSS
=================================================*/
.why-choose-area {
padding-bottom: 80px;
position: relative;
z-index: 1;
}

.single-choose-box {
margin-bottom: 30px;
position: relative;
overflow: hidden;
-webkit-transition: 0.5s;
transition: 0.5s;
border-radius: 5px;
}

.single-choose-box img {
-webkit-transition: 0.5s;
transition: 0.5s;
border-radius: 5px;
}

.single-choose-box .title {
position: absolute;
left: 32px;
bottom: 25px;
z-index: 1;
-webkit-transition: 0.5s;
transition: 0.5s;
max-width: 230px;
}

.single-choose-box .title h3 {
background-color: #ff4800;
color: #ffffff;
display: inline;
white-space: pre-wrap;
-webkit-box-shadow: -7px 0 0 #ff4800;
        box-shadow: -7px 0 0 #ff4800;
font-size: 23px;
font-weight: 700;
padding-left: 0;
padding-right: 7px;
padding-top: 0;
padding-bottom: 3px;
}

.single-choose-box .content {
position: absolute;
bottom: 0;
left: 0;
right: 0;
top: 0;
background: #ff4800;
border-radius: 5px;
padding: 25px;
-webkit-transition: 0.5s;
transition: 0.5s;
-webkit-transform: scale(1.1);
        transform: scale(1.1);
opacity: 0;
visibility: hidden;
margin-top: 25px;
margin-bottom: 25px;
margin-left: 25px;
margin-right: 25px;
}

.single-choose-box .content .inner-content {
position: absolute;
top: 50%;
-webkit-transform: translateY(-50%);
        transform: translateY(-50%);
left: 25px;
right: 25px;
margin: 0 auto;
}

.single-choose-box .content .inner-content h3 {
color: #ffffff;
line-height: 1.3;
margin-bottom: 0;
margin-top: -6px;
font-size: 23px;
font-weight: 700;
}

.single-choose-box .content .inner-content h3 a {
color: #ffffff;
}

.single-choose-box .content .inner-content p {
color: #ffffff;
margin-bottom: 15px;
margin-top: 13px;
}

.single-choose-box .content .inner-content .read-more-btn {
color: #ffffff;
}

.single-choose-box .content .inner-content .read-more-btn i {
color: #ffffff;
}

.single-choose-box:hover img {
-webkit-transform: scale(1.3);
        transform: scale(1.3);
}

.single-choose-box:hover .content {
opacity: 1;
visibility: visible;
-webkit-transform: scale(1);
        transform: scale(1);
}

.single-choose-box:hover .title {
opacity: 0;
visibility: hidden;
}
/*================================================
Contact Area CSS
=================================================*/


.contact-section {
padding: 100px 0;
align-items: center;
display: flex;
margin: 0 100px;
}

.contact-section .logo-holder {
    width: 100px;
    margin: 0 auto;
    margin-bottom: 30px;
}

    .contact-section .logo-holder img {
        width: 100%;
    }

.contact-section .informations {
}

    .contact-section .informations .information {
        display: flex;
        margin-bottom: 16px;
        margin-top: 30px;
    }

        .contact-section .informations .information .icon {
            margin-left: 12px;
        }

            .contact-section .informations .information .icon i {
                font-size: 18px;
                color: #Fd7d00;
            }

        .contact-section .informations .information .info {
        }

            .contact-section .informations .information .info span {
                font-size: 16px;
                color: #015351;
            }

.contact-section .map-holder {
    width: 100%;
    height: 350px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

    .contact-section .map-holder iframe {
        width: 100%;
        height: 100%;
        border: 0;
        position: relative;
    }

    .contact-section .map-holder::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgb(0 0 0 / 0.4);
    }

.contact-cards-section {
padding: 0 0 100px 0;
}

.contact-cards-section .card-inner {
    padding: 24px;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 30px;
    text-align: center;
    box-shadow: 0 0.125rem 0.375rem rgb(0 0 0 / 5%), 0 0.5rem 1.2rem rgb(0 0 0 / 10%);
    transition: .3s all;
}

.card-inner:hover {
transform: translateY(-10px);
}

.contact-cards-section .card-inner .icon {
width: 45px;
height: 45px;
display: flex;
align-items: center;
justify-content: center;
margin: 0 auto;
border-radius: 50%;
margin-bottom: 16px;
}

.contact-cards-section .card-inner .icon i {
    font-size: 20px;
}

.red-back {
background-color: #dd010145;
}

.red-color {
color: #dd0101;
}

.green-back {
background-color: #3e8e7e4d;
}

.green-color {
color: #3E8E7E;
}

.yellow-back {
background-color: #fabb514f;
}

.yellow-color {
color: #FABB51;
}

.purple-back {
background-color: #9145b645;
}

.purple-color {
color: #9145B6;
}

.l-blue-back {
background-color: #84dfff36;
}

.l-blue-color {
color: #84DFFF;
}

.blue-back {
background-color: #516beb4f;
}

.blue-color {
color: #516BEB;
}

.orang-back {
background-color: #f0a5002e;
}

.orang-color {
color: #F0A500;
}

.contact-cards-section .card-inner .title {
margin-bottom: 16px;
}

.contact-cards-section .card-inner .title h3 {
    font-weight: bold;
    font-size: 16px;
}
.contact-section .btn-primary{
  align-items: center;
  
}
.contact-area .section-title {
  margin-bottom: 40px;
}

.contact-form {
  text-align: center;
  max-width: 100%;
}

.contact-form form {
  padding-left: 50px;
}

.contact-form form .form-control {
  background-color: #ffffff;
  border: none;
  -webkit-box-shadow: 0px 5px 28.5px 1.5px #dfefef;
          box-shadow: 0px 5px 28.5px 1.5px #dfefef;
  height: 50px;
  font-family: "Vazir-FD", sans-serif;
  font-size: 16px;
}

.contact-form form .row {
  margin-left: -7px;
  margin-right: -7px;
}

.contact-form form .row .col-lg-12, .contact-form form .row .col-lg-6 {
  padding-left: 7px;
  padding-right: 7px;
}

.contact-form form textarea.form-control {
  height: auto;
  padding-top: 15px;
}

.contact-form form .btn {
  padding: 13px 35px 15px;
  font-size: 17px;
  margin-top: 10px;
  
}

.contact-form form .btn.disabled {
  cursor: not-allowed !important;
}

.contact-form form .btn.disabled:hover::before, .contact-form form .btn.disabled:focus::before {
  opacity: 1;
  visibility: visible;
}

.contact-form form .btn.disabled:hover::after, .contact-form form .btn.disabled:focus::after {
  opacity: 0;
  visibility: hidden;
}

.contact-form form .help-block ul {
  padding-left: 0;
  list-style-type: none;
  margin-top: 5px;
  margin-bottom: 0;
}

.contact-form form .help-block ul li {
  color: #Fd7d00;
}

.contact-form form #msgSubmit {
  margin-bottom: 0;
}

.contact-form form #msgSubmit.text-danger, .contact-form form #msgSubmit.text-success {
  margin-top: 8px;
  font-size: 23px;
  font-weight: 700;
}

.contact-info {
  text-align: center;
  margin-top: 60px;
}

.contact-info .contact-info-content h3 {
  margin-bottom: 15px;
  font-size: 23px;
  font-weight: 700;
}

.contact-info .contact-info-content h2 {
  margin-bottom: 0;
  font-size: 40px;
  font-weight: 700;
}

.contact-info .contact-info-content h2 a {
  display: inline-block;
  color: #ff4800;
}

.contact-info .contact-info-content h2 a:hover {
  color: #4ac728;
}

.contact-info .contact-info-content h2 a:not(:first-child) {
  color: #4ac728;
}

.contact-info .contact-info-content h2 a:not(:first-child):hover {
  color: #ff4800;
}

.contact-info .contact-info-content h2 span {
  display: block;
  color: #57647c;
  margin-top: 8px;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 500;
}

.contact-info .contact-info-content .social {
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 20px;
}

.contact-info .contact-info-content .social li {
  display: inline-block;
  margin: 0 2px;
}

.contact-info .contact-info-content .social li a {
  width: 35px;
  height: 35px;
  line-height: 35px;
  border: 1px solid #dadada;
  border-radius: 50%;
  color: #aba5a5;
}

.contact-info .contact-info-content .social li a i {
  font-size: 14px;
}

.contact-info .contact-info-content .social li a:hover {
  color: #ffffff;
  border-color: #ff4800;
  background-color: #ff4800;
}

.container-slider h2{
  text-align:center;
  padding: 20px;
  text-transform: uppercase; 
  margin-bottom: 40px;
  }
  .container-slider b{ 
  color: red;
  }
  


/*================================================
Projects Area CSS
=================================================*/
.projects-area {
padding-bottom: 80px;
overflow: hidden;
position: relative;
z-index: 1;
}

.projects-area .pagination-area {
margin-bottom: 30px;
margin-top: 30px;
}

.single-projects-box {
margin-bottom: 30px;
-webkit-transition: 0.5s;
transition: 0.5s;
background-color: #ffffff;
}

.single-projects-box a img {
-webkit-transition: 0.5s;
transition: 0.5s;
}

.single-projects-box .projects-content {
-webkit-transition: 0.5s;
transition: 0.5s;
-webkit-box-shadow: 0 0 1.25rem rgba(108, 118, 134, 0.1);
        box-shadow: 0 0 1.25rem rgba(108, 118, 134, 0.1);
padding: 30px;
}

.single-projects-box .projects-content span {
display: block;
color: #57647c;
margin-bottom: 7px;
font-size: 13px;
font-weight: 600;
}

.single-projects-box .projects-content h3 {
margin-bottom: 0;
font-size: 23px;
font-weight: 700;
}

.single-projects-box .projects-content p {
margin-top: 11px;
margin-bottom: 0;
}

.single-projects-box .projects-content .read-more-btn {
margin-top: 15px;
}

.single-projects-box:hover a img {
opacity: .75;
}

.projects-slides {
right: calc((100% - 755px) / 2);
position: relative;
}

.projects-slides.owl-theme .owl-nav {
margin-top: 0;
position: absolute;
right: -178px;
top: 50%;
-webkit-transform: translateY(-50%);
        transform: translateY(-50%);
}

.projects-slides.owl-theme .owl-nav [class*=owl-] {
display: block;
margin: 0;
text-align: center;
height: 50px;
line-height: 50px;
background: -webkit-gradient(linear, left top, right top, from(#fc4a1a), color-stop(#fd6b12), color-stop(#fc8712), color-stop(#faa01f), to(#f7b733));
background: linear-gradient(to right, #fc4a1a, #fd6b12, #faa01f, #faa01f, #f7b733);
color: #ffffff;
border-radius: 30px;
-webkit-transition: 0.5s;
transition: 0.5s;
position: relative;
z-index: 1;
font-weight: 600;
font-size: 17px;
font-family: "Vazir-FD", sans-serif;
padding-right: 88px !important;
padding-left: 50px !important;
}

.projects-slides.owl-theme .owl-nav [class*=owl-] i::before {
font-size: 13px;
}

.projects-slides.owl-theme .owl-nav [class*=owl-]::before {
content: '';
position: absolute;
right: 0;
top: 0;
width: 100%;
height: 100%;
z-index: -1;
background: #333333;
-webkit-transition: 0.5s;
transition: 0.5s;
border-radius: 30px;
border: 0;
}

.projects-slides.owl-theme .owl-nav [class*=owl-]:after {
content: 'بعدی';
position: absolute;
color: #ffffff;
top: 50%;
-webkit-transform: translateY(-50%);
        transform: translateY(-50%);
right: 50px;
}

.projects-slides.owl-theme .owl-nav [class*=owl-].owl-prev {
margin-bottom: 15px;
color: #ffffff;
padding-right: 50px !important;
padding-left: 88px !important;
}

.projects-slides.owl-theme .owl-nav [class*=owl-].owl-prev::after {
content: 'قبلی';
right: auto;
left: 50px;
}

.projects-slides.owl-theme .owl-nav [class*=owl-].owl-prev::before {
opacity: 1;
visibility: visible;
background: -webkit-gradient(linear, left top, right top, from(#fc4a1a), color-stop(#fd6b12), color-stop(#fc8712), color-stop(#faa01f), to(#f7b733));
background: linear-gradient(to right, #fc4a1a, #fd6b12,#faa01f, #faa01f, #f7b733);
}

.projects-slides.owl-theme .owl-nav [class*=owl-].owl-next {
margin-top: 15px;
}

.projects-slides.owl-theme .owl-nav [class*=owl-]:hover {
color: #ffffff;
}

.projects-slides.owl-theme .owl-nav [class*=owl-]:hover::before {
opacity: 0;
visibility: hidden;
}
.blog-area .blog-hedear p{
text-align: justify;
}
/* iframe */
 .iframe-descreption iframe{
width:1024px;
height:612px;
margin-bottom: 60px;
margin-top: 60px;
margin-right: 38px;
}
.section-title-iframe{
margin-top: 50px;
font-weight: 700;
padding: 20px;
text-align: center;
max-width: 100%;
margin-left: 0;
margin-right: 0;
margin-bottom: 20px;


}
.section-title-iframe p{
padding: 20px;
font-size: 15px;
max-width: 720px;
margin-bottom: 0;
margin-top: 10px;
margin-left: auto;
margin-right: auto;

}
/* about */
.about-area-new {
/* position: relative; */
z-index: 1;
height: 800px;
margin-top: 0px;

}
.about-area-new .section-title{
  margin-bottom: 70px;
}
.about-image {
position: relative;
padding-bottom: 100px;
text-align: right;
margin-right: 50px;


}
.about-image-new {
  position: relative;
  padding-bottom: 100px;
  text-align: right;
  margin-right: 50px;
  
  
  }
.about-image img{
width: 500px;
/* margin-top: 30px; */

}
.about-image-new img{
  width: 500px;
  /* margin-top: 30px; */
  
  }

.about-image img:nth-child(2) {
position: absolute;
left: 0;
bottom: 0;
border-radius: 10px 0 0 0;
}

/* .about-content-new {
padding-left: 25px;


} */

.about-content-new h2 {
margin-bottom: 55px;
line-height: 1.3;
font-size: 40px;
font-weight: 700;

}

.about-content-new p {
margin-bottom: 13px;
text-align: left;
text-align: justify;

}
.about-inner-area {
margin-top: 60px;
}

.about-text h3 {
margin-bottom: 0;
font-size: 23px;
font-weight: 700;
}

.about-text p {
margin-top: 13px;
margin-bottom: 0;
text-align:justify;

}
/* featured-services-areaa-img */
.featured-services-areaa-img {
position: relative; 
margin-top: -113px;
/* background-image: url(../img/process\ line.png); */
background-repeat: no-repeat;
height: 250px;

}
.featured-services-areaa-img img{
width: 100%;
padding: 25px;
text-align: center;
align-items: center;
float: left;


}


/* featured-services-area  */
.featured-services-areaa {
 position: relative; 
margin-top: -113px; 
/* background-color: #dfefef; */
height: 300px;
padding-top: 25px;

}

.featured-services-inner {
margin-bottom: 50px;
background-color: #ffffff;
-webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);

}
.single-featured-services-box-about {
position: relative;
z-index: 1;
-webkit-transition: 0.5s;
transition: 0.5s;
padding: 20px 25px;
margin-bottom: 30px;
}

.single-featured-services-box .icon {
margin-bottom: 5px;
color: #ff4800;
-webkit-transition: 0.5s;
transition: 0.5s;
text-align: center;
}

.single-featured-services-box .icon i {
font-size: 45px;
}

.single-featured-services-box .icon i::before {
font-size: 45px;
}

.single-featured-services-box h3 {
margin-bottom: 0;
-webkit-transition: 0.5s;
transition: 0.5s;
font-size: 23px;
font-weight: 700;
text-align: center;
}

.single-featured-services-box p {
-webkit-transition: 0.5s;
transition: 0.5s;
margin-top: 12px;
margin-bottom: 0;
}

.single-featured-services-box::before {
content: '';
position: absolute;
left: 0;
top: 0;
background-color: #015351;
width: 2px;
height: 100%;
-webkit-transition: 0.5s;
transition: 0.5s;
z-index: -1;
}

.single-featured-services-box:hover .icon, .single-featured-services-box.active .icon {
color: #ffffff;
}

.single-featured-services-box:hover h3, .single-featured-services-box.active h3 {
color: #ffffff;
}

.single-featured-services-box:hover h3 a, .single-featured-services-box.active h3 a {
color: #ffffff;
}

.single-featured-services-box:hover p, .single-featured-services-box.active p {
color: #f0f0f0;
}

.single-featured-services-box:hover::before, .single-featured-services-box.active::before {
width: 100%;
}


